<!--<h3>Thông Tin Chi Tiết</h3>-->
<!--<label >Id Customer</label>-->
<!--<p>{{cus.get_id()}}</p>-->
<!--<label >Name Customer</label>-->
<!--<p>{{cus.get_name()}}</p>-->
<!--<label >Age Customer</label>-->
<!--<p>{{cus.get_age()}}</p>-->

<div class="card" style="width: 200px">
  <div class="card-body">
    <h3 >Information</h3>
    <label>Id Customer:</label>
    <h6 class="card-subtitle mb-2 text-muted">{{cus.get_id()}}</h6>
    <label>Name Customer: <p class="card-text">{{cus.get_name()}}</p></label>
    <label>Age Customer:</label>
    <p class="card-text">{{cus.get_age()}}</p>
  </div>
</div>
